*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 30px;
    background-color: white;
    max-width: 1020px;
}

nav {
    max-height: 45px;
}