@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: white;
    background-color: #F5F5F7;
}

main {
    margin: 0 auto;
}

header {
    width: 100%;
}

nav {
    max-width: 980px;
    height: 43px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: transparent;
}

nav > li {
    list-style: none;
    font-size: 12px;
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    color: #4D4D4E;
}

.logo {
    width: 19px;
    height: 19px;
}

