@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

main {
    max-width: 1020px;
    margin: 0 auto;
}

nav {
    max-height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav > li {
    list-style: none;
    display: flex;
    font-size: 12px;
    font-family: ;
}