@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

main {
    margin: 0 auto;
}

header {
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    max-width: 980px;
    height: 43px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: transparent;
}

nav > li {
    list-style: none;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
    color: #4D4D4E;
    cursor: pointer;
}

.logo {
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.search {
    cursor: pointer;
}

.cart {
    cursor: pointer;
}

.cashback{
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F7;
}

.hero {
    position: relative;
    max-width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    width: auto;
    height: auto;
    display: block;
    z-index: 5;
}

.hero-tag {
    position: absolute;
    bottom: 153px;
    z-index: 10;
    font-size: 53px;
    font-weight: 600;
    font-family: "Inter Tight", sans-serif;
    color: #1d1d1f;
}

.hero-subtag {
    position: absolute;
    bottom: 118px;
    z-index: 10;
    font-size: 27px;
    font-weight: 500px;
    font-family: "Inter Tight", sans-serif;
    color: #1d1d1f;
    line-height: 1.14286;
    letter-spacing: .007em;
}

.sub-section {
    position: relative;
    max-width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 12px;
    background-color: #F3F3F5;
}

.cta {
    position: absolute;
    z-index: 5;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    bottom: 57px;
}

.button-cta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 122px;
    background-color: #0071E3;
    font-size: 17px;
    font-family: "Inter Tight", sans-serif;
    color: white;
    border-radius: 100px;
    cursor: pointer;
}

.sub-section > h2 {
    font-size: 55px;
    font-weight: 600;
    font-family: "Inter Tight", sans-serif;
    color: #1d1d1f;
    margin-top: 45px;
}
